CouchDB==1.2
Flask==3.0.3
Flask_Bcrypt==1.0.1
Flask_Login==0.6.3
Flask_Mail==0.9.1
flask_session==0.8.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
itsdangerous==2.1.2
Pillow==9.4.0
Pillow==10.4.0
pytest==7.4.3
redis==5.0.1
WTForms==3.1.2
