{% extends "layout.html" %}
{% block content %}
    {% for product in products.items %}
        <article class="media content-section {% if product.quantityInStock==0 %}gray-bg{% endif %}">
          <div class="media-body">
            <div class="product-metadata">  
              <a class="mr-2" href="{{ url_for('products.category_products', category=product.category) }}">{{ product.category }}</a>
              <small class="text-muted">Stock: <u>{{ product.quantityInStock }}</u></small>
              <small class="flt-r" {% if product.quantityInStock==0 %}style="color: red;"{% endif %}>{% if product.quantityInStock==0 %}OUT OF STOCK{% else %} Price: {{product.price}} per {{product.unitOfMeasure}}{% endif %}</small> 
            </div>
            <h2><a class="product-title" href="{{ url_for('products.product', product_id=product.id) }}">{{ product.name }}</a></h2>
            <p class="product-content">{{ product.description }}</p>
            <div class="product-metadata">  
              <small class="flt-r" {% if product.quantityInStock==0 %}style="color: red;"{% endif %}>        
                {% if product.quantityInStock==0 %}
                  OUT OF STOCK
                {% else %}
                  <a class="btn btn-secondary btn-sm mt-1 mb-1 flt-r" href="{{ url_for('products.add_to_cart', product_id=product.id, page=products.page, quantityInStock=product.quantityInStock) }}">Add to cart</a>
                {% endif %}</small> 
            </div>
          </div>
        </article>
    {% endfor %}
    {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if products.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.products', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.products', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
